.header {
    width: 100%;
    background-color: #F5DB13;
    color: #212121;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 2px 0px rgba(51, 51, 51, 0.25);
}

.logo {
    width: 158px;
    height: 63px;
    padding: 1rem;
}

.nav {
    padding: 2rem;
}

.nav a {
    font-size: 20px;
    padding: 1rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-decoration: none;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.nav a:hover{
    border-bottom: 3px solid black;
}

.switch {
    display: flex;
    margin-right: 30px;
}

.switch > button {
    cursor: pointer;
    background: none;
}

.bandeiras {
    width: 30px;
    margin-right: 20px;
    padding-bottom: 0.5rem;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.bandeiras:hover {
    border-bottom: 3px solid black;
}
