.header {
    background-color: #F5DB13;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 158px;
    height: 63px;
    padding: 1rem;
}

.nav {
    padding: 2rem;
}

a:-webkit-any-link {
    font-size: 20px;
    padding: 1rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-decoration: none;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

a:-webkit-any-link:hover{
    border-bottom: 3px solid black;
}

.switch {
    display: flex;
    margin-right: 30px;
}

.switch > button {
    cursor: pointer;
    background: none;
}

.bandeiras {
    width: 30px;
    margin-right: 20px;
    padding-bottom: 0.5rem;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.bandeiras:hover {
    border-bottom: 3px solid black;
}
