.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 500px;
    max-width: 90%;
    border-radius: 1rem;
    padding: 2rem;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content span {
    font-size: 30px;
    font-weight: bold;
}

.content-modal p {
    padding-bottom: 5px;
}

.title-modal {
    display: flex;
    gap: 10px;
}

.id-modal {
    background-color: #F2CB07;
    width: 41px;
    height: 41px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 21px;
    height: 20px;
}

.icon-modal {
    display: flex;
    gap: 5px;
    width: 130px;
    border-radius: 100px;
    border: solid 2px #2b2b2b;
    padding: 5px 10px 5px 10px;
    margin: 10px 0 30px 0;
}

.btn-close {
    background-color: transparent;
    border: transparent;
    width: 100%;
    text-align: right;
    cursor: pointer;
}

.btn-close button{
    background-color: transparent;
}

.btn-close:hover {
    transform: scale(1.02);
}

.img-modal {
    height: 290px;
    width: 290px;
}

.img-btn {
    width: 20px;
    cursor: pointer;
}

.attack-defense {
    margin-bottom: 2rem;
}

.attack {
    background-color: #F3F6F7;
    padding: 1rem;
    border-radius: 10px;
    border: solid 1px #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.defense {
    background-color: #F3F6F7;
    padding: 1rem;
    border-radius: 10px;
    border: solid 1px #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.circle {
    border-radius: 100rem;
    border: solid 3px;
    color: #212121;
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}